<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sap.school">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application

        android:name=".ApplicationContextProvider"
         android:allowBackup="false"
        android:icon="@drawable/appiconcon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appiconcon"
        android:supportsRtl="false"
        android:usesCleartextTraffic="false"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".SelectClassActivity" />
        <activity android:name=".RoutinScreenActivity" />
        <activity android:name=".StudentScreenActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".AttendenceScreenActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ClassPlanActivity" />
        <activity android:name=".FeedBackActivity" />
        <activity android:name=".FeedbackMessageActivity" />
        <activity android:name=".MarkAttendenceActivity" />
        <activity android:name=".NoticeScreenActivity" />
        <activity android:name=".SubjectClassPlanActivity"> </activity>
        <activity android:name=".TeacherDashBoardActivity"> </activity>
        <activity android:name=".StudentDashboardActivity"> </activity>
        <activity android:name=".ParentDashBoardActivity"> </activity>
        <activity android:name=".ClassPlanRelatedToSubjectScreenActivity"> </activity>
        <activity android:name=".MyProfileActivity"> </activity>
        <activity android:name=".ExamScheduleScreenActivity"> </activity>
        <activity android:name=".AppleLeaveScreenActivity"> </activity>
        <activity android:name=".SubjectPlanDetailsActivity"> </activity>
        <activity android:name=".ViewTodaysClassPlan"> </activity>
        <activity android:name=".ViewMoreClassPlan"> </activity>

    </application>

</manifest>